APP_NAME=patient-data-service
APP_ENV=development

GRPC_HOST=0.0.0.0
GRPC_PORT=50051
HTTP_HOST=0.0.0.0
HTTP_PORT=8080

DB_HOST=192.168.122.1
DB_PORT=5432
DB_NAME=pseudopep_g08
DB_USER=grupo08_user
DB_PASSWORD=123@g08
DB_POOL_MIN_SIZE=1
DB_POOL_MAX_SIZE=10

PSEUDONYM_SALT=change-me-in-production
LOG_LEVEL=INFO
