APP_NAME=patient-data-service
APP_ENV=development

GRPC_HOST=0.0.0.0
GRPC_PORT=50052
HTTP_HOST=0.0.0.0
HTTP_PORT=8081

DB_HOST=192.168.500000.5
DB_PORT=948732984732
DB_NAME=pseudopep_g08875648736
DB_USER=grupo08_user
DB_PASSWORD=coxinha123

PSEUDONYM_SALT=change-me-in-production
LOG_LEVEL=INFO
